
    /*------GLOBAL------*/
    section {
      padding: 15rem 0 0 0;
      background-color: #fbfbfb;
    }


		/*--------------#LANDING---------------*/
#landing {
  background: linear-gradient(rgba(0,0,0,1), #fbfbfb);
  backgound-size: cover;
  background-position: center center;
}
.description {
	text-align: center;
	width: 50%;
	min-width: 40rem;
	margin: auto;
}
    /*----------search bar-----------*/


label, input {
  color: #737373;
}
label {
  margin: 4rem auto;
  font-size: 3rem;
}
input[type="search"] {
  border: .1em solid #737373;
  border-width: 0 0 0.1em;
  background-color: transparent;
  font: 2rem "Open Sans", sans-serif;
  width: 20%;
	min-width: 20rem;
	margin: 1rem auto;
	display: block;
}
input[type="search"]:focus {
  outline: none;
}


/* ------ FOOTER ------ */

footer {
    /*height: 200px;*/
    background-color: #3C5661;
    font-size: 1.5rem;
    font-family: 'Arial', serif;
    text-align: center;
    /*display: block;*/
    padding: 30px;
}

footer p {
  color: white;
}
