.header {
	color: #FFFFFF;
	background-color: #2541B2;
	height: 100px;
	padding-top: 10px;
}

.logo {
	/*font-weight: bold;*/
}

.nav-top {
	float: right;
}
.nav-top h1 a {
	text-decoration: none;
  	color: white;
}
.nav-top ul {
	margin: 0;
  	list-style: none;
  	padding-top: 20px;
  	padding-bottom: 20px;
}
.nav-top ul li {
	display: inline-block;
}
.nav-top ul li a {
	font-size: 25px;
  	/*font-family: 'Bitter', serif;
  	color: #3C5661;*/
  	text-decoration: none;
  	padding-right: 50px;
  	/*margin: 0;*/
  	margin-right: 20px;
}

		/*MAIN*/
.description {
	text-align: center;
	padding-top: 80px;
	padding-bottom: 150px;
}
/*search bar*/
.search {
	/*text-align: center;*/
}

.searchform {
  display: block;
  /*margin: 0;*/
  margin-left: 550px;
  overflow: hidden;
  width: 40%;
}
label, input {
  /*vertical-align: baseline;*/
  color: #737373;
}
label {
  margin: 0em 0em 0em 0em;
  float: center;
  font-size: 25px;
  padding-bottom: 30px;
  
}
input[type="search"] {
  border: 2px solid #737373;
  border-width: 0 0 3px;
  background-color: transparent;
  font: 22px "Open Sans", sans-serif;
  padding: 0.125em 0.225em;
  width: 85%;
  /*float: left;*/
  
}
input[type="search"]:focus {
  /*color: #E18728;*/
  /*border-color: #E18728;*/
  outline: none;
}









